@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "slider slider slider"
    "section section section"
    "footer footer footer";

  column-gap: 10px;
  align-items: center;
}

.header {
  grid-area: header;
  background: #2075a0;
  color: #ffff;
}

.nav1{
  padding: 10px;

}

.nav1 i{
  margin-left: 15px;
}

.nav {
  grid-area: nav;
  background: rgb(255, 255, 255);
  width: 80%;
  margin: 0 auto;
}

.slider {
  grid-area: slider;
  background: rgb(0, 54, 50);
}

.section {
  grid-area: section;
  background: rgb(151, 161, 0);
}

.footer {
  grid-area: footer;
  background: rgb(0, 71, 204);
}
